.App {
  text-align: center;
  background-color: #282c34;
}

.candy {
  border: 3px dotted black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 255, 0.334);
  width: 30%;
  margin: 10px;
}

.candy-list {
  background-color: aqua;
  display: flex;
}

.photos {
  display: flex;
  align-self: center;
}

.fruit {
  border: 3px dotted black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 255, 0.334);
  width: 30%;
  margin: 10px;
}

.fruit-list {
  background-color: aqua;
  display: flex;
}

.shape {
  border: 3px dotted black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 255, 0.334);
  width: 30%;
  margin: 10px;
}

.shape-list {
  background-color: aqua;
  display: flex;
}

.actor {
  border: 3px dotted black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 255, 0.334);
  width: 30%;
  margin: 10px;
}

.actor-list {
  background-color: aqua;
  display: flex;
}